* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100vh;
}
body {
  font-family: "Roboto", sans-serif;
  height: inherit;
  background-color: #ffbe0b;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 400px;
  padding: 50px 25px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #e5e5e5;
}
#screen {
  text-align: right;
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #ffffff;
}
.screen-last {
  min-height: 30px;
  font-size: 20px;
}
.screen-current {
  min-height: 30px;
  font-size: 35px;
}
.btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.btn-span {
  grid-column: span 2;
  padding: 15px;
}
.btn {
  padding: 20px;
}
button {
  font-size: inherit;
  cursor: pointer;
}
button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
footer {
  margin-top: auto;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}
p {
  display: inline;
}
p a {
  text-decoration: none;
  color: black;
}
.fa-github {
  font-size: 20px;
  color: black;
}
